<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="refresh" content="0; URL='./jobs" />
</head>
<body>
    <div class="container">
        <h5>Please wait while data loads.</h5>
    </div>
</body>
</html>